.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.middle-buttons {
  display: flex;
  justify-content: center;
}

.textarea-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

textarea {
  width: 80%;
  height: 1200px;
}
